.spanner{
    color: red;
}
.btn{
    margin: 5px;
}
.cardCount{
    position: relative;
    font-size: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.shoppingCardCount{
    position: absolute;
    top: 8px;
    left: 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    padding: 2px;
    font-size: 10px;
}
